<div class="post">
  <p class="posttitle">
    <%= @post.title %>
  </p>
  <p class="postdate">
    <%= @post.date %>
  </p>
  <p class="postcontent">
    <%= @post.content %>
  </p>
  <p class="postnav">
    <%= link_to "edit this blog post", edit_post_path(@post) %> *
    <%= link_to "back to main blog", posts_path %>
  </p>
</div>



<div class="comments">
  <p class="title">Comments</p>
  <% @post.comments.each do |comment| %>
  <p class="eachcomment">
    <%= comment.author %> said "<%= comment.content %>" // <%= comment.date %>

  <%= link_to "delete comment", [comment.post, comment], method: :delete %>
  </p>

<% end %>
</div>

<div class="addcomment">
    <p class="title">Add a comment</p>
    <%= form_for ([@post, @post.comments.build]) do |f| %>
    <p>
    <%= f.label :author, "User" %>
    <%= f.text_field :author %>
    <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <p>
    <%= f.label :content, "Comment" %>
    <p>
    <%= f.text_field :content %>
    <p>
    <%= f.label :post_id %>
    <%= f.text_field :post_id %>
    <p>
    <%= f.submit %>
    <% end %>
</div>
